<% layout('layouts/boilerplate') %>
    <div class="row">
        <h1 class="text-center"> Edit Campground</h1>
        <div class="col-md-6 offset-md-3">
            <form action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST" novalidate
                class="validated-form">
                <div class="mb-3">
                    <label class="form-label" for="title">Title</label>
                    <input class="form-control" type="text" id="title" name="campground[title]"
                        value="<%=campground.title %>" required>
                    <div class="invalid-feedback">
                        Please Enter a Title
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="location">Location</label>
                    <input class="form-control" type="text" id="location" name="campground[location]"
                        value="<%=campground.location %>" required>
                    <div class="invalid-feedback">
                        Please Enter a Location
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="price">Campground Price</label>
                    <div class="input-group">
                        <span class="input-group-text" id="price-label">$</span>
                        <input type="text" class="form-control" id="price" aria-label="Amount (to the nearest dollar)"
                            placeholder="0.00" name="campground[price]"" value=" <%=campground.price %>" required>
                        <div class="invalid-feedback">
                            Please Enter a Price
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="description">Description</label>
                    <textarea class="form-control" type="text" id="description" name="campground[description]"
                        required><%= campground.description %></textarea>
                    <div class="invalid-feedback">
                        Please Enter a Description
                    </div>
                </div>
                <div class="mb-3">
                    <button class="btn btn-success">Update</button>
                    <a href="/campgrounds/<%= campground._id %>" class="btn btn-secondary">Cancel</a>
                </div>
            </form>
        </div>
    </div>