<% layout('layouts/boilerplate') %>
    <div class="row">
        <div class="col-6 offset-3">
            <h1 class="text-center"> Edit Images</h1>
            <form action="/campgrounds/<%= campground._id %>/edit/images?_method=PUT" method="POST" novalidate
                class="validated-form" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="image" class="form-label">Choose image(s)</label>
                    <input class="form-control" name="image" type="file" id="image" multiple>
                </div>
                <div class="mb-3">
                    <% campground.images.forEach(function(img, i) { %>
                        <img src="<%= img.url %>" alt="" class="img-thumbnail">
                        <div class="form-check-inline">
                            <input type="checkbox" id="img-<%=i%>" name="deleteImages[]" value="<%=img.filename %>">
                        </div>
                        <label for="img-<%=i%>">Delete</label>
                        <% }) %>
                </div>
                <div class="mb-3">
                    <button class="btn btn-success">Submit</button>
                    <a href="/campgrounds/<%= campground._id %>" class="btn btn-secondary">Cancel</a>
                </div>
            </form>
        </div>
    </div>